RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#Header set Access-Control-Allow-Origin "*"
SetEnv YII_DEBUG 0
SetEnv YII_ENV prod
SetEnv CACHE_TYPE ${CACHE_TYPE}
SetEnv CACHE_MEMCACHED_HOST ${CACHE_MEMCACHED_HOST}
SetEnv CACHE_MEMCACHED_PORT ${CACHE_MEMCACHED_PORT}
SetEnv MANAGER_DB_DSN ${MANAGER_DB_DSN}
SetEnv INSTANCE_DB_HOST ${INSTANCE_DB_HOST}
SetEnv RABBIT_HOST ${RABBIT_HOST}
SetEnv RABBIT_PORT ${RABBIT_PORT}
SetEnv RABBIT_USER ${RABBIT_USER}
SetEnv RABBIT_PASS ${RABBIT_PASS}
SetEnv S3_LOCATIONS_QTY ${S3_LOCATIONS_QTY}
SetEnv S3_LOCATIONS_DEFAULT ${S3_LOCATIONS_DEFAULT}
SetEnv S3_LOCATION_1 ${S3_LOCATION_1}
